 body, html {
    background: #EEF0F4;
    font-family: 'Roboto', sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}
body {margin-bottom: 250px;}

/*::::::::::  Estilos de Navbar :::::::::::*/

.navbar.bg-dark {background-color: #bf0909 !important;}
.logo-gob img.escudo {
    width: 46px;
    height: auto !important;
    min-height: 30px;
}
.logo-gob img.texto-gob {width: 90px;}
.navbar-dark .navbar-nav .nav-link {color: rgba(255, 255, 255, 0.9);}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {color: rgba(255, 255, 255, 1);}
.nav-link {padding: 0 1rem;}
.logo-texto {
    color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.logo-texto:hover,
.logo-texto:focus {color: rgba(255, 255, 255, 1);}

/*::::::: Estilos breadcrumbs ::::::::*/

.breadcrumb{margin-bottom: 0!important;}
.miga {background: #FFFFFF;}
.miga nav ol {background-color: #FFFFFF !important;}
.miga-home a {color: grey !important;}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}

/*:::::::::: Estilos Loading image::::::::::::::::::*/

#loading-CUL {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.9;
    background-color: #fff;
    z-index: 1051;
    text-align: center;
}
#loading{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 1051;
    text-align: center;
}

#loading-image,
#loading-image-CUL{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1051;
    margin-right: auto;
    left: 0;
    top: 200px;
    right: 0;
}
.loading-text
{
    font-size: 1.1em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1051;
    margin-right: auto;
    left: 0;
    top: 270px;
    right: 0;
}

/*:::::::::: Estilos Mensajes ::::::::::::::::::*/

.text-danger {color: #B0261C;}
.material-icons {vertical-align: middle;}
.alert {margin-bottom: 0 !important;}
.alert p {margin-bottom: 0;}

/*:::::::::: Estilos formulario ::::::::::::::::::*/

.btn {border-radius: 0;}
.cul-verificacion .busqueda {
    background: #FFFFFF;
}

/*:::::::::: Estilos Footer :::::::::*/

.footer {
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #3C4145;
}
.footer .footer-bottom {background-color: #FFFFFF;}
.footer a {color: #FFFFFF;}
.footer a:hover,
.footer a:focus {color: #FFFFFF;}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popuptext {
    visibility: hidden;
    width: 420px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 18px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    line-height: 60px;
}
.popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/*:::::::::: Estilos Mobile :::::::::*/

@media (max-width: 575.98px) {
    body {margin-bottom: 300px;}
    .logo-texto{display: none;}
    
    .cul-verificacion .busqueda-head {display: none;}
    
    .footer-bottom .col-md-4{width: 50%!important;}
    .footer-bottom .col-md-4 img{width: 95%!important;}
    .footer-top{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .footer{line-height: 35px;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
